APP_NAME=QuickList
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://quicklist.com

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite

SESSION_DRIVER=database
SESSION_ENCRYPT=true

BROADCAST_CONNECTION=log

VITE_APP_NAME="${APP_NAME}"
